name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)

trigger:
- main

pool: WCOM
  
variables:
  - group: common-build-variables

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: GitHubPublic
      name: WCOMAB/WCOM.AzurePipelines.YamlTemplates
      ref: refs/heads/main

stages:
- template: dotnetweb/stages.yml@templates
  parameters:
    devopsOrg: 'wcom'
    system: 'sqlbulksync'
    suffix: 'sqlbulksync'
    webAppName: 'sqlbulksync'
    build: Development
    useDotNetSDK:
      skipTask: true
    skipTests: true
    projectSrc: ./src/SqlBulkSyncFunction
    buildParameters:
      - '-c Release' 
    shouldDeploy: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    dpi:
      report: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      WorkspaceId: $(API.DEV.LogId)
      SharedKey: $(API.DEV.LogKey)
    environments:
      - env: dev
        name: Development
        deploy: false
    container:
      csproj: './src/SqlBulkSyncFunction/SqlBulkSyncFunction.csproj'
      artifact: 'wcom-sqlbulksync-image'
      repository: 'wcom.sqlbulksync'
      baseimage: 'mcr.microsoft.com/azure-functions/dotnet-isolated:4-dotnet-isolated10.0'
      latest: true
      servers:
        - name: 'wcompublicacr.azurecr.io'
          username: 'wcompublicacr'
          password: '$(wcompublicacr.azurecr.io)'
