name: Build Azure Function

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get the sources
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install .NET Core SDK (global.json)
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Publish
      run: dotnet publish src --output ./artifacts

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5
      with:
        name: SqlBulkSyncFunction
        path: artifacts
